In [1]:
a = 10
b = 11.5
c = "Hello World"
d = True

In [2]:
print(a)
print(b)
print(c)
print(d)

print(a, b, c, d)

10
11.5
Hello World
True
10 11.5 Hello World True

In [3]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [5]:
a = 10
b = 3
c = a % b
print(c)

1

In [ ]:
a = 10
b = 2
c = a ** b # a to the power b
print(c)

100

In [7]:
a = 10
b = 3
c = a%b
print(c)

1

In [8]:
a = 11
b = 3 
c = a//b

In [9]:
a = '10'
b = '3'
print(a+b)

103

In [10]:
a = 'Hello'
b = "World"
c = a+b
print(c)

HelloWorld

In [11]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [12]:
a = "Messi "
b = "10"
c = a+b
c

'Messi 10'

In [14]:
a = True
b = False
c = a+b
c

1

In [15]:
a = True
b = True
c = a+b
print(c)

2

In [16]:
a = 1+2j
a

(1+2j)

In [17]:
(0+1j)*(0+1j)

(-1+0j)

In [18]:
# Type casting
# str() int() float()
a = 10
b = str(a)
b

'10'

In [19]:
a = '20'
int(a)

20

In [20]:
a = '20.5'
float(a)

20.5

In [21]:
a = input()
print(a)

Hellooooo

In [22]:
a = input("Enter a = ") # a is a string
b = input("Enter b = ") # b is a string
print(a+b)

Whoo10

In [24]:
p = int(input("Enter p = "))
t = float(input("Enter t = "))
r = float(input("Enter r = "))
i = p*t*r/100
print(f'The value of i = {i}')

The value of i = 350.0

In [25]:
# if <condition>:
#     <operations>
# elif <condition>:
#     <operations>
    
# ...

# else:
#     <operation>
# > < >= <= == !=

In [26]:
a = 10
print(a<0)
print(a>0)

False
True

In [27]:
a = int(input("Enter a = "))
if a%2 == 0:
    print(f"{a} is even")
else:
    print(f"{a} is odd")

30 is even

In [28]:
physics = int(input("Enter physics marks = "))
chemistry = int(input("Enter chemistry marks = "))
math = int(input("Enter math marks = "))
english = int(input("Enter english marks = "))
nepali = int(input("Enter nepali marks = "))

total = physics+chemistry+math+english+nepali
per = total/5

if per>=80:
    grade = 'A'
elif per>=60:
    grade='B'
elif per>=45:
    grade='C'
else:
    grade = 'F'
    
print("Total = ", total)
print("Per = ", per)
print("Grade = ", grade)

Total =  288
Per =  57.6
Grade =  C

In [30]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
o = input("Enter o = ")
if o == '+':
    print(a+b)
elif o == '-':
    print(a-b)
elif o == '*':
    print(a*b)
elif o == '/':
    if b != 0:
        print(a/b)
    else:
        print("The vale of b can not be zero.")
else:
    print("Enter Valid Operator")

400

In [31]:
# for, while loop
# range(5) 0,1,2,3,4 for(i=0; i<5; i++)
# range(1, 5) 1, 2, 3, 4 for(i=1;i<5;i++)
# range(1, 10, 2) 1,3,5,7,9 for(i=1; i<10; i+=2)

In [32]:
for i in range(5):
    print(i)

0
1
2
3
4

In [33]:
for i in range(0, 11, 2):
    print(i)

0
2
4
6
8
10

In [34]:
for i in range(5):
    print(i, "Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [35]:
for i in range(1, 5):
    print(i, "Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [36]:
for i in range(1, 5):
    print(i, 'Hello World')

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [37]:
for i in range(1, 5, 2):
    print(i, 'Hello World')

1 Hello World
3 Hello World

In [38]:
n = int(input("enter n = "))
for i in range(1, 11):
    print(n, "*", i, "=", n*i)

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [39]:
for i in range(5):
    x = int(input("Enter value = "))
    print(x)

3
1
2
3
4

In [41]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter value = "))
    s += x
    
    print(s)

1
4
10

In [42]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    
    s = s+name+" "+phone+"\n"
    
print(s)

Ram 94884322
Hari 9700000000

In [45]:
# 5 = 1+2+3+4+5
s = 0
n = int(input("Enter n = "))
for i in range(n+1):
    s += i
print(s)

15

In [46]:
# factorial
s = 1
n = int(input("Enter n = "))
for i in range(1, n+1):
    s *= i
print(s)

120

In [47]:
for i in range(21):
    if i%2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20

In [48]:
for i in range(21):
    if i%2 == 0:
        print(i, end=" ") # end = ' ' is used to place a space after the displayed string instead of a newline

0 2 4 6 8 10 12 14 16 18 20

In [49]:
for i in range (5, -1, -1):
    print(i)

5
4
3
2
1
0

In [51]:
a = "Python"
for i in a:
    print(i)

P
y
t
h
o
n

In [52]:
a = "Python"
for i in a:
    print(i, "Hello World")

P Hello World
y Hello World
t Hello World
h Hello World
o Hello World
n Hello World

In [53]:
a = "Hello World I am Python"
for i in a:
    if i != " ":
        print(i,end = "")

HelloWorldIamPython

In [55]:
# while
# control statement - break, continue

In [56]:
for i in range(10):
    if i == 6:
        break
    print(i)

0
1
2
3
4
5

In [57]:
for i in range(10):
    if i==6:
        continue
    print(i, end = "")

012345789

In [58]:
for i in range(1, 31):
    if i%3 != 0:
        continue
    print(i)

3
6
9
12
15
18
21
24
27
30

In [59]:
a = "Hello World I am Python"
for i in a:
    if i==" ":
        break
    print(i)

H
e
l
l
o

In [60]:
a = "Hello World I am Python"
for i in a:
    if i == " ":
        continue
    print(i, end='')

HelloWorldIamPython

In [61]:
# while loop:
# while <condition>:
#   <operation>

In [62]:
a = 0
while a<5:
    print(a, "Hello World")
    a = a+1

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [63]:
a = 5
while a>0:
    print(a, "Hello World")
    a = a-1

5 Hello World
4 Hello World
3 Hello World
2 Hello World
1 Hello World

In [64]:
i = 1
n = int(input("Enter n = "))
while i<=10:
    print(n, "*", i, "=", n*i)
    i = i+1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [1]:
s = ""
i = 0
n = int(input("Enter n = "))
while i<n:
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = s + name + " " + phone + "\n"
    i = i+1
print(s)

Ram 9800000000

In [2]:
# factorial
s = 1
i = 1
n = int(input("Enter n = "))
while i<=n:
    s = s*i
    i = i+1
print(s)

3628800

In [3]:
# break
i = 0
while i<10:
    if i==6:
        break
    print(i, end="")
    i+=1

012345

In [4]:
# continue
i = 0
while i<10:
    if i ==6:
        i = i+1
        continue
    print(i,end = "")
    i = i+1

012345789

In [6]:
# prime
n = int(input("Enter n = "))
if n >=2:
    for i in range(2,n):
        if n%i==0:
            print(n,"is Composite no")
            break
    else:
        print(n,"is Prime no")

else:
    print("Please enter valid no.")

7 is Prime no