In [1]:
# string
a = "Hello World"
b = 'Hello World'
c = '''Hello WOrld'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [2]:
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

In [3]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [4]:
for i in a:
    print(i, end="")

Hello World

In [5]:
a = input("Enter a = ")
print(a)

Hiiiiii

In [6]:
a = input("Enter a = ")
print(a)

Hiiii hellooooo

In [7]:
a = "Hello World"
a[2]

'l'

In [8]:
a = "Hello World"
a[0:8]

'Hello Wo'

In [10]:
a = "Hello World"
a[0:8:2]

'HloW'

In [11]:
a = "Hello World"
a = len(a)
a

11

In [12]:
a = "Hello World"
a[0::1] # a[-1::-1]

'Hello World'

In [13]:
name = "Ram"
age = 23
add = "Kathmandu"
info = "Hello World I am "+name+"I am from"+add+" I am"+str(age)
print(info)

Hello World I am RamI am fromKathmandu I am23

In [14]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")

info = f"Hello world I am {name}. I am from {add}. I am {age}" # f means Formatted string literals, for expression { }
print(info)

Hello world I am Ram. I am from Ktm. I am 19

In [15]:
s = 0
bill = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total=price*quantity
    bill = bill + f"{name} {price} {quantity} {total}\n"
    s = s+total
    
print("\nall total = ",s)
print(bill)

all total =  1910
Tomato 160 1 160
Strawberry 350 5 1750

In [16]:
a = "Ram Shyam Hari Sita Gita Ram"
if "Ram" in a:
    print("There is Ram")
else:
    print("No")

There is Ram

In [17]:
a = "Ram Shyam Hari Sita Gita Ram"
b = input("Enter search value = ")
if b in a:
    print(" Yes there is",b)
    print(a.count(b))
else:
    print("No")

 Yes there is Hari
1

In [18]:
#check without case sensitivity
a = "Ram Shyam Hari Sita Gita Ramesh".lower()
b = input("Enter search value = ").lower()
if b in a:
    print(" Yes there is",b)
    print(a.count(b))
else:
    print("No")

 Yes there is ramesh
1

In [19]:
a = "Ram Shyam Hari Sita Gita Ram"
print(a.lower())
print(a.upper())
print(a)

ram shyam hari sita gita ram
RAM SHYAM HARI SITA GITA RAM
Ram Shyam Hari Sita Gita Ram

In [20]:
a = input("Enter any no = ")
b = input("Enter next no = ")
if a == b[::-1]:
    print("Yes")
else:
    print("No")

Yes

In [23]:
# replace
a = "Ram Shyam Hari Sita Gita Ram"
b = a.replace('Ram','Nabin')
print(a)

Ram Shyam Hari Sita Gita Ram

In [24]:
print(b)

Nabin Shyam Hari Sita Gita Nabin